{
  "extends": "airbnb-typescript-prettier",
  "plugins": ["jest"],
  "rules": {
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }]
  }
}
